USE [master]
GO
/****** Object:  Database [STAFF]    Script Date: 24/11/2021 15:45:20 ******/
CREATE DATABASE [STAFF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STAFF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STAFF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STAFF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STAFF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STAFF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STAFF]
GO
/****** Object:  Table [dbo].[DATA_STAFF]    Script Date: 24/11/2021 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATA_STAFF](
	[NIK] [int] NOT NULL,
	[NAMA] [varchar](50) NULL,
	[ALAMAT] [varchar](200) NULL,
	[HANDPHONE] [varchar](15) NULL,
	[JOINDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFOUTSOURCE]    Script Date: 24/11/2021 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFOUTSOURCE](
	[NIK] [int] NOT NULL,
	[NAMA] [varchar](50) NULL,
	[ALAMAT] [varchar](200) NULL,
	[HANDPHONE] [varchar](15) NULL,
	[JOINDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DATA_STAFF] ([NIK], [NAMA], [ALAMAT], [HANDPHONE], [JOINDATE]) VALUES (1001, N'ASEP', N'BANDUNG', N'081234123914', CAST(N'2021-11-22' AS Date))
INSERT [dbo].[DATA_STAFF] ([NIK], [NAMA], [ALAMAT], [HANDPHONE], [JOINDATE]) VALUES (1002, N'DANI', N'JAKARTA', N'082980112930', CAST(N'2021-10-17' AS Date))
INSERT [dbo].[DATA_STAFF] ([NIK], [NAMA], [ALAMAT], [HANDPHONE], [JOINDATE]) VALUES (1003, N'BUDI', N'SURABAYA', N'082431764901', CAST(N'2021-10-18' AS Date))
GO
INSERT [dbo].[STAFFOUTSOURCE] ([NIK], [NAMA], [ALAMAT], [HANDPHONE], [JOINDATE]) VALUES (14, N'LISA', N'SULEWESI', N'802198301', CAST(N'2021-01-05' AS Date))
INSERT [dbo].[STAFFOUTSOURCE] ([NIK], [NAMA], [ALAMAT], [HANDPHONE], [JOINDATE]) VALUES (1001, N'ASEP', N'BANDUNG', N'081234123914', CAST(N'2021-11-22' AS Date))
INSERT [dbo].[STAFFOUTSOURCE] ([NIK], [NAMA], [ALAMAT], [HANDPHONE], [JOINDATE]) VALUES (1002, N'DANI', N'JAKARTA', N'082980112930', CAST(N'2021-10-17' AS Date))
GO
USE [master]
GO
